*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --main-color: #f1c40f;
    --secondary-color: grey;
    --text-color: #fff;
    --secondary-text-color: #000;
    --border-bottom:grey;
    --timer-color: #e74c3c;
    --button-color: background-image: (url("../img/sj-objio-XFWiZTa2Ub0-unsplash.jpg"));
    --correct-color: #689f38;
    --incorrect-color: #d32f2f;
    --incorrect-background-color: #ffdde0;
    --correct-background-color: #e7f6d5;
    --correct-answer-color: #ffd700;
    --correct-answer-background-color: #f5ecbf;
    --font-size: 1.3em;
}

body {
    background-image: url("../img/copy-space-surrounded-by-office-supplies.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.start__screen, 
.score__container{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#start__btn,
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
}

button:hover {
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}
  
button:not(:hover) {
    box-shadow: none;
}
  

#restart {
    margin-top: 0.9em;
}

#display__container {
    background-image: url("../img/sj-objio-XFWiZTa2Ub0-unsplash.jpg");
    background-size: cover;
    padding: 3.1em 1.8em;
    max-width: 50em;
    max-height: 50em;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}

/*Change the size of the #display__container depending on the screen size*/
@media screen and (max-width: 600px) {
    #display__container {
        padding: 1.8em;
        max-width: 30em;
        max-height: 30em;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 0.6em;
    }
}



.header{
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid var(--border-bottom);
}

.timer__div {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.7em 1.8em;
    margin-top: .5em;
    font-size: var(--font-size);   
}

/*Change the font size depending on the screen size*/
@media screen and (max-width: 600px) {
    .timer__div {
        font-size: 1em;
    }
}

.question {
    margin-bottom: 1.25em;
    margin-top: 4.5em;
    font-weight: 600;
    font-size: var(--font-size);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 1em;
    padding: 1em;
}

/*Change the font size depending on the screen size*/
@media screen and (max-width: 600px) {
    .question {
        font-size: 1em;
    }
}

.question__count{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.7em 1.8em;
    margin-top: .5em;
    font-size: var(--font-size);
}

/*Change the font size depending on the screen size*/
@media screen and (max-width: 600px) {
    .question__count {
        font-size: 1em;
    }
}


.option__div {
    width: 100%;
    height: 4em;
    padding: 1em;
    margin: 0.5em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid black;
    border-radius: 0.3em;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}

/*Change the font size depending on the screen size*/
@media screen and (max-width: 600px) {
    .option__div {
        font-size: .8em;
    }
}


.option__div:last-child {
    margin-bottom: 1em;
}


.option__div:disabled {
    color: var(--secondary-text-color);
}

#next__btn {
    font-size: 1em;
    margin-top:4em;
    margin-right: 0.5em;
    background: none;
    color: var(--secondary-text-color);
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    font-size: var(--font-size);
}

/*Change the font size depending on the screen size*/
@media screen and (max-width: 600px) {
    #next__btn {
        font-size: 1em;
    }
}


#next__btn:hover {
    box-shadow: none;
    color: var(--text-color);
}

.hide {
    display: none;
}


.incorrect {
    background-color: var(--incorrect-background-color);
    color: var(--secondary-text-color);
    border-color: var(--incorrect-color);
}

/*Add transition from option__div to .correct*/
.correct {
    background-color: var(--correct-background-color);
    color: var(--secondary-text-color);
    border-color: var(--correct-color);
}
  
.correct__answer {
    background-color: var(--correct-answer-background-color);
    color: var(--secondary-text-color);
    border-color: var(--correct-answer-color);
}

#user__score {
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 0.5em;
}

.clear {
    filter: blur(0);
}
  
.blurry {
    filter: blur(1px);
}

#next__btn{
    display: none;
}

#user__highscore{
    position: absolute;
    top: 0;
    padding: 0.7em 1.8em;
    margin-top: .5em;
    border-radius: 0.3em;
    background-color: var(--correct-background-color);
    color: var(--correct-color);
    border: 1px solid var(--correct-color);
}
  
button.option__div {
    transition: all 0.5s ease-in-out;
}
  
button.option__div:hover {
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}
  
button.option__div.selected {
    pointer-events: none;
}
  
button.option__div.selected:hover {
    box-shadow: none;
}
  
button.option__div.selected-wrong {
    pointer-events: none;
}
  
button.option__div.selected-wrong:hover {
    box-shadow: none;
}

#user__streak{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    font-size: 1.5em;
}


